<!DOCTYPE html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8">
	<title>5kVA complete solar system</title>
	<meta name="description" content="reliable shop that sells solar products. solar kit company. solar installation. solar warranty. solar battery, UPS, PylonTech.">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Font
  ================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/logo1.png}">
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/owl.carousel.css}">
	<link rel="stylesheet" th:href="@{rs-plugin/css/settings.css}">
	<link rel="stylesheet" th:href="@{css/rev-settings.css}">
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{style.css}">
	<link rel="stylesheet" id="fullcolor-css" th:href="@{/#}" type="text/css" media="all">
	<!-- Favicons
	================================================== -->

</head>
<body class="homepage">
<div class="images-preloader">
	<div id="preloader_1" class="rectangle-bounce">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<div class="top-line"></div>
<header class="static header2">
	<div class="container">
		<h1 class="logo">
			<a href="index.html"><img th:src="@{/images/logo1.png}" alt="chissolar logo"></a>
		</h1>
		<div class="top-info">
			<p><span>Cell Number:</span><a href="https://wa.me/+263782783370"> +263 78 278 3370 </a></p>
			<p class="e-mail"><span>Email:</span> <a href="https://mail.google.com/mail/?view=cm&amp;source=mailto&amp;to=sales@chissolar.co.zw">sales@chissolar.co.zw</a></p>
		</div>
		<button class="btn-toggle"><i class="fa fa-reorder"></i></button>
		<nav class="nav">
			<ul class="main-menu">
				<li class="menu-item-has-children">
					<div class="arrow-parent"><i class="fa fa-angle-down"></i></div>
					<a th:href="@{/index}">Home</a>
				</li>
				<li>
					<div class="arrow-parent"><i class="fa fa-angle-down"></i></div>
					<a th:href="@{/typical_systems}">Complete Systems</a>
				</li>
				<li><a th:href="@{/product-list}">Products</a></li>
				<li><a th:href="@{/about}">About Us</a></li>
				<li class="menu-item-has-children">
					<div class="arrow-parent"><i class="fa fa-angle-down"></i></div>
					<a th:href="@{/contact}">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div id="content">
	<div class="entry-content">

		<div class="page-title">
			<div class="container">
				<h1>5kVA | 5000W | 48V</h1>
			</div>
		</div>

		<div class="breadcrumbs">
			<div class="container">
				<ul class="crumb">
					<li><a th:href="@{/index}"><i class="fa fa-home"></i> Home</a></li> <span>/</span>
					<li><a href="#"> Complete Systems</a></li> <span>/</span>
					<li class="active">5kVA</li>
				</ul>
			</div>
		</div>

		<div class="page-content">
			<section class="single-services">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="title-service">
								<ul class="none-style">
									<li><a th:href="@{typical_systems}">1kVA</a></li>
									<li><a th:href="@{typical_systems2}">3kVA</a></li>
									<li class="active"><a th:href="@{typical_systems3}">5kVA</a></li>
									<li><a th:href="@{typical_systems4}">8kVA</a></li>
									<li><a th:href="@{typical_systems5}">10kVA</a></li>
									<li><a th:href="@{typical_systems6}">12kVA</a></li>
									<li><a th:href="@{typical_systems8}">16kVA</a></li>
									<li><a th:href="@{typical_systems7}">Implementation</a></li>
								</ul>
							</div>
						</div>
							<div class="col-md-9">
								<div class="service-details">
									<img th:src="@{/images/5kva.jpg}" alt="5kVA solar system">
									<h4>5kVA | 5000W | 48V</h4>
									<p>*Systems are subject to change, depending on stock availability stock availability. Prices subject to change without notice.
										​
										This system powers up:<br>
										Lights <br>
										Laptops<br>
										Charging Phones<br>
										Wi-Fi router<br>
										2x Fridge<br>
										TV's <br>
									Borehole Pump<br>
									Gate Motor
								</div>
							</div>							
						</div>
					</div>
				</section>

				<section class="action-about">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-action">
									<h4>Do any of the above systems pique your interest? Click the button and talk to us today!</h4>
									<a href="contact.html" class="ot-btn btn-color">Get a quote</a>
								</div>
							</div>
						</div>
					</div>
				</section>
							
			</div>
			
			</div>		
			</div>

<footer>
	<div class="widget-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="widget">
						<h4><img th:src="@{/images/logo1.png}" alt="chissolar logo"></h4>
						<p>Consistently Reliable Distributors in Zimbabwe's Renewable Energy Sector. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget">
						<h4>Company</h4>
						<div class="row">
							<div class="col-xs-6 col-lg-5">
								<ul>
									<li><a th:href="@{index}">Home</a></li>
									<li><a th:href="@{typical_systems}">Complete Systems</a></li>
									<li><a th:href="@{product-list}">Products</a></li>
									<li><a th:href="@{about}">About Us</a></li>
									<li><a th:href="@{contact}">Contact</a></li>
									<li><a th:href="@{/login}">Admin Login</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>Contact Us</h4>
					<div class="textwidget">
						<p><i class="fa fa-home"></i> 7 Bay Noakes Rd, Chisipite, Harare</p>
						<p><i class="fa fa-phone"></i> +263 78 278 3370/ +263 8644 281 236</p>
						<p><a href="https://mail.google.com/mail/?view=cm&amp;source=mailto&amp;to=sales@chissolar.co.zw"><i class="fa fa-envelope-o"></i></a> sales@chissolar.co.zw</p>
						<p><i class="fa fa-clock-o"></i> Mon-Fri 08:00 - 17:00</p>
						<p><i class="fa fa-clock-o"></i> Sat 08:00 - 13:00</p>
						<div class="socials">
							<a href="https://www.facebook.com/profile.php?id=100092442514669"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/ChisipiteSolar"><i class="fa fa-twitter"></i></a>
							<a href="https://mail.google.com/mail/?view=cm&amp;source=mailto&amp;to=sales@chissolar.co.zw"><i class="fa fa-google-plus"></i></a>

							<a href="https://instagram.com/chisipitesolar?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>Gallery</h4>
					<div class="gallery-image">
						<a href="#"><img th:src="@{/images/slider6.jpeg}" alt="solar panels"></a>
						<a href="#"><img th:src="@{/images/slider5.jpeg}" alt="solar panels"></a>
						<a href="#"><img th:src="@{/images/slider3.jpeg}" alt="solar panels"></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sub-footer">
		<div class="container">
			<p>Copyright © 2023 Designed by YMThemes. All rights reserved.</p>
		</div>
	</div>
</footer>
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/classie.js}"></script>
<script type="text/javascript" th:src="@{js/custom-404.js}"></script>
<script type="text/javascript">

    jQuery(document).ready(function() {

      jQuery(".custom-show").hide();
      
      jQuery(".custom-close").click(function(){
          jQuery(this).hide();
          jQuery(this).next().show();
          jQuery(this).parent().animate({'left': '+=108px'},'medium');
      });
      

      jQuery(".custom-show").click(function(){
          jQuery(this).hide();
          jQuery(this).prev().show();
          jQuery(this).parent().animate({'left': '-=108px'},'medium');
      });


      jQuery("#body-layout").on('change', function(){
          $( 'body' ).toggleClass( "boxed" );
      });
      
      jQuery(".s1 .color1").click(function(){
          jQuery("#fullcolor-css").attr("href", "css/colors/color1.css");
      });
      
      jQuery(".s1 .color2").click(function(){
          jQuery("#fullcolor-css").attr("href", "css/colors/color2.css");
      });
      
      jQuery(".s1 .color3").click(function(){
          jQuery("#fullcolor-css").attr("href", "css/colors/color3.css");
      });
      
      jQuery(".s1 .color4").click(function(){
          jQuery("#fullcolor-css").attr("href", "css/colors/color4.css");
      });
      
      jQuery(".s1 .color5").click(function(){
          jQuery("#fullcolor-css").attr("href", "css/colors/color5.css");
      });
      
      jQuery(".s1 .color6").click(function(){
          jQuery("#fullcolor-css").attr("href", "css/colors/color6.css");
      });


    });

</script>

</body>

</html>